
body{
  font-family: 'Oswald', serif;
  background-color: white;
}

div{
  width:1800px;
  height:1000px;
}

svg{
  position: absolute;
  top:0;
  left: 0;
}

/*----- Basic Sections -----*/
#wrapper{
  width: 100%;
  min-height: 880px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;

}

#hexagon{
  
  background: linear-gradient(to bottom, black, white);
  
}
#background{
  background: linear-gradient(to bottom, red, white);
}